.App {
  background-color: #0B132B; 
  color: #BBBBBB;
  padding-right: 20vmin;
}

.ProjectCard{
  padding: 1vmin;
}

.ProjectCard h3{
  margin: 2vmin;
}

.ProjectCard p{
  margin: 2vmin;
}

.ProjectCard img{
  margin: 2vmin;
  width: 36vmin;
  border-radius: 8px;
}

.Homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.LeftSide {
  width: 60%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.RightSide {
  width: 40%;
}

.ScrollableSection {
 margin-top: 20vmin;
}

.About, .Education, .Projects, .Skills, .Interests {
  padding: 2vmin;
}

.About h2, .Education h4, .Projects h2, .Skills h2, .Interests h2{
  font-size: 4vmin;
}

.ProjectCard:hover {
  background-color: #1C2541;
  color: white;
  border-radius: 8px;

}



.InformationBox {
  margin-top: 20vmin;
  text-align: center;
}

.InformationBox h1 {
  font-size: 6vmin;
}

img {
  max-width: 100%;
}
