.App {

}

.ProjectCard{
  width: 40vmin;
  border: 2px solid black;
  border-radius: 8px;
}

.ProjectCard img{
  margin: 2vmin;
  width: 36vmin;
}

.ProjectCard h3{
  margin: 2vmin;
}

.ProjectCard p{
  margin: 2vmin;
}

.Homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.RightSide {
  width: 50%;
}

.LeftSide {
  width: 50%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

img {
  max-width: 100%;
}
