.App {
  margin: 5vmin;
}

.ProjectCard{
  width: 40vmin;
  border: 2px solid black;
  border-radius: 8px;
}

.ProjectCard img{
  margin: 2vmin;
  width: 36vmin;
}

.ProjectCard h3{
  margin: 2vmin;
}

.ProjectCard p{
  margin: 2vmin;
}

.Homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.RightSide {
  margin-left: 50vmax;
  height: 70vmax;
  width: 50%;
  overflow-y: auto;
  box-sizing: border-box;
}

.InformationBox {
  width: 50%;
}
