.App {
  background-color: #080e20; 
  color: #BBBBBB;
  padding-right: 20vmin;
}

h1{
  margin-top: 0vmin ;
  margin: 1vmin;
}

.ProjectCard{
  padding: 1vmin;
}

.ProjectCard h3{
  margin: 2vmin;
}

.ProjectCard p{
  margin: 2vmin;
}

.ProjectCard img{
  margin: 2vmin;
  width: 36vmin;
  border-radius: 8px;
}

.Homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.LeftSide {
  width: 55%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.RightSide {
  width: 45%;
}

.ScrollableSection {
 margin-top: 20vmin;
}

.About, .Education, .Projects, .Skills, .Interests {
  padding: 1vmin;
  margin: 2vmin;
  border-radius: 8px;
  background-color: #0B132B;
}

.About p, .Projects h2, .Interests h2{
  margin: 2vmin;
  margin-top: 0vmin;
}

.Education p{
  margin: 1vmin;
  margin-left: 3vmin;
}
 
.Education h2{
  margin-left: 2vmin;
}

.ProjectCard:hover {
  background-color: #1C2541;
  color: white;
  border-radius: 8px;
}

.InformationBox {
  margin-top: 20vmin;
  text-align: center;
}

.InformationBox h1 {
  font-size: 6vmin;
}

img {
  max-width: 100%;
}